.btn-cart, .by-btn {
    padding: 15px;
    background-color:lightgreen;
    color: black;
    border: none;
    cursor: pointer;
    border: solid 2px black;
    border-radius: 10px;
}

.products {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 20px;
}

.img-thumbnail {
    width: 200px;
}